#about h2 {
    font-family: 'Fira Code', monospace;
    color: gray;
}
#about h2::before {
    content: "01.";
    margin-right: 4px;
    color: #cc4100;
}
.aboutme-grid h2 {
    margin: 10px 0 40px 0;
}
.aboutme-grid .text {
    border: 1px solid gray;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.aboutme-grid .text p {
    padding: 0 0 20px 0;
}
.aboutme-grid .pic-side-of-grid {
    position: relative;
}
.aboutme-grid .pic-side-of-grid .wrapper {
    width: 60%;
}
.aboutme-grid .text .languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media only screen and (min-width: 768px) {
    #about {
        padding: 50px 0px;
    }
    .aboutme-grid {
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: 50px;
    }
    .aboutme-grid .text .languages img {
        height: 40px;
        width: auto;
    }
    .aboutme-grid .pic-side-of-grid .wrapper img {
        display: block;
        width: 100%;
        height: auto; 
        border-radius: 10px;
        border: 1px solid gray;
        /*Make image size responsive and not fixed */
    }
}
@media only screen and (max-width: 768px) {
    #about {
        padding: 25px 0px;
    }
    .aboutme-grid {
        display: block;
    }
    .aboutme-grid .pic-side-of-grid {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .aboutme-grid .text .languages img {
        height: 30px;
        width: auto;
    }
    .aboutme-grid .pic-side-of-grid .wrapper {
        display: flex;
        justify-content: center;
    }
    .aboutme-grid .pic-side-of-grid .wrapper img {
        width: 65%;
        height: auto; 
        border-radius: 10px;
        border: 1px solid gray;
        /*Make image size responsive and not fixed */
    }
}